@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;300;500;700&family=Source+Code+Pro&display=swap');
/* 
font-family: 'Grenze Gotisch', cursive;

font-family: 'Source Code Pro', monospace; */

body {
    font-family: 'Source Code Pro', monospace;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    background-color: #131313;
    color: white;
    height: 80px;
}

.glitch {
    font-family: 'Grenze Gotisch', cursive;
    background: linear-gradient(45deg, #b7aeff 0%, #e99494 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header nav {
    padding-top: 36px;
    word-spacing: 6px;
}

.top-link {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    opacity: 0.3;
}

.top-link-active {
    text-decoration: none;
    text-decoration-line: none;
    background: linear-gradient(45deg, #b7aeff 0%, #e99494 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .top-link:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
} */

.lists_one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 0 20px;
    height: 600px;
}

.list-one_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 350px;
    height: auto;
}

.list-one_left h1 {
    font-family: 'Grenze Gotisch', cursive;
}

.list-one_left p {
    opacity: 0.5;
    margin: 0;
}

.list-one_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.list-one_right h1 {
    font-family: 'Grenze Gotisch', cursive;
}

#button-one {
    background: linear-gradient(45deg, #b7aeff 0%, #e99494 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

footer {
    height: 300px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.footer-left{
    margin: 0 0 0 50px;
}

.footer-left nav{
    padding-bottom: 12px;
    word-spacing: 6px;
}

.footer-left a{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    opacity: 0.5;
}

.two{
    font-size: 25px;
}

@media screen and (max-width: 860px) {
    .lists_one {
        display: flex;
        flex-direction: column;
        height: 450px;
    }
    .list-one_left {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        width: 300px;
        height: auto;
    }
}